.white {
    background-color: white;
    height: 4rem;
    width: 4rem;

}

.brown {
    background-color: saddlebrown;
    height: 4rem;
    width: 4rem;

}
.chessboard td img{
    width: 50%;
    height: 50%;
}

html, body {margin: 2rem; height: 90%; overflow: hidden}

.chessboard {
    align-self: center;
    height: 30rem;
    width: 55rem;
    border-collapse: collapse;
    border: 2px solid black;
}

.chessboard td {
    text-align: center;
    vertical-align: middle;
}




