<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chessboard</title>
    <link rel="stylesheet" type="text/css" media="all" href="/style.css" th:href="@{/style.css}" />
</head>
<body>
<table class="chessboard">
    <tbody>
    <tr th:each="row, rowIdx : ${game.getSquares()}">
        <th th:text="${8 - rowIdx.index}" class="index"></th>
        <td th:each="square, colIdx : ${row}" th:class="${(rowIdx.index + colIdx.index) % 2 == 0 ? 'chessboard-square brown' : 'chessboard-square white'} "
            th:id="'square_'+${rowIdx.index}+'_'+${colIdx.index}">

            <div th:if="${game.getSquares()[rowIdx.index][colIdx.index] != null}" class="chess-piece" th:id="'piece_'+${rowIdx.index}+'_'+${colIdx.index}">
                <!-- Use appropriate Thymeleaf expressions to generate the piece image source, alt text, etc. -->

                <img class="draggable" draggable="true"
                     th:src="@{${@chessPieceUtil.getImagePath((game.getSquares()[rowIdx.index][colIdx.index]))}}"
                     th:id="'piece_'+${rowIdx.index}+'_'+${colIdx.index}"
                     th:data-piece-type="${game.getSquares()[rowIdx.index][colIdx.index].getPieceType()}"
                     th:data-piece-colour="${game.getSquares()[rowIdx.index][colIdx.index].getColour().toString()}">
            </div>
        </td>
    </tr>
    <tr>
        <th></th>
        <th th:text="'a'"></th>
        <th th:text="'b'"></th>
        <th th:text="'c'"></th>
        <th th:text="'d'"></th>
        <th th:text="'e'"></th>
        <th th:text="'f'"></th>
        <th th:text="'g'"></th>
        <th th:text="'h'"></th>
    </tr>
    </tbody>
</table>
</body>
<script th:inline="javascript">
    let selectedPiece;
    console.log("Script Loaded")
    document.addEventListener('DOMContentLoaded', function () {
        // Function to fetch and highlight legal moves for a piece

        const chessPieces = document.querySelectorAll('.chess-piece img');
        chessPieces.forEach(piece => {
            piece.addEventListener('click', handlePieceClick);
        });

        function resetSelection() {
            if (selectedPiece){
                selectedPiece.classList.remove('selected-piece')
                selectedPiece = null;
            }
            document.querySelectorAll('.highlighted-destination').forEach(square => {
                square.classList.remove('highlighted-destination');
                square.removeEventListener('click', handleDestinationClick);
            });
        }
       function fetchLegalMoves(x, y)
        {
            fetch(`/legalMoves/${x}/${y}`)
                .then(response => response.json())
                .then(normalMoves => {
                    resetSelection(); // Reset selectedPiece when fetching legal moves

                    // Clear previous highlights
                   /* document.querySelectorAll('.highlighted-destination').forEach(square => {
                        square.classList.remove('highlighted-destination');
                        square.removeEventListener('click',handleDestinationClick);
                    });*/


                    // Highlight valid destination squares
                    normalMoves.forEach(move => {
                        const { toPos } = move;
                        // Extract toPos from each move object
                        //returns the div element of the piece.
                        const destinationSquare = document.getElementById(`square_${toPos.x}_${toPos.y}`);
                        if (destinationSquare) {
                            destinationSquare.classList.add('highlighted-destination');
                        }
                        //Extract the fromPos
                        const {fromPos} = move;
                        selectedPiece = document.getElementById("piece_"+fromPos.x+"_"+fromPos.y)


                        //TODO do something if no destination is returned.
                        //Get selected piece with the fromPos coordinates
                        //selectedPiece = document.getElementById("piece_"+fromPos.x+"_"+fromPos.y)
                        console.log(selectedPiece);
                        const highlightedSquares = document.querySelectorAll('.highlighted-destination'); // Example with class

                        //Add an event listener to handleDestinationCLick
                        highlightedSquares.forEach(square => {
                            square.addEventListener('click', handleDestinationClick); // Click event
                        });
                    });
                })
                .catch(error => {
                    console.log('Error fetching legal moves', error);
                });
        }

        // Click event listener for chess pieces
        function handlePieceClick(event) {
            const piece = event.target.closest('div');
            if (piece) {
                const coordinates = piece.id.split('_').slice(1);
                const fromRow = coordinates[0];
                const fromCol = coordinates[1];
                console.log(`Piece that was clicked on ${fromRow} ${fromCol}`)
                resetSelection();
                fetchLegalMoves(fromRow, fromCol);
            }
        }

        function extractXY(coordinates){
            const x = coordinates[0];
            const y = coordinates[1];
            return [x,y];
        }

        // Click event listener for highlighted destination squares
        function handleDestinationClick(event) {
            const destinationSquare = event.target.closest('td');
            if (destinationSquare) {
                const coordinatesTo = destinationSquare.id.split('_').slice(1);
                const toXY = extractXY(coordinatesTo);

                const coordinatesFrom = selectedPiece.id.split('_').slice(1);
                const fromXY = extractXY(coordinatesFrom);

                //TODO Use variables x and y for better readability
                moveRequestToServer(fromXY[0],fromXY[1],toXY[0], toXY[1])
                console.log(`Moving piece to row ${toXY[0]}, column ${toXY[1]}`);
                destinationSquare.append(selectedPiece);
                selectedPiece.id = `piece_${toXY[0]}_${toXY[1]}`;
                resetSelection();

                // You can now send a request to the server to make the move
                // and handle the response accordingly
            }
        }
        function moveRequestToServer(fromX, fromY, toX, toY) {
            fetch(`/makeMove/${fromX}/${fromY}/${toX}/${toY}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(response => {
                    if (response) {
                        console.log("Move Updated");
                    }
                });
        }
    });
</script>
</html>
